﻿<div ng-controller="Ctrl">
     
      <button ng-click="changeLanguage('ru')" translate="BUTTON_LANG_RU"></button>
      <button ng-click="changeLanguage('uk')" translate="BUTTON_LANG_UK"></button>
       <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
        <!-- <button><a href="/login" class="btn btn-link">admin</a></button> -->
</div>


<div class="flex-container" style="padding: 5px; max-width: 460px;">
  
    <h3 style="margin: 5px;">{{ 'HEADLINE' | translate }}</h3>
     
     <div>
         <label class="labal">{{ 'PHONE_NUMBER' | translate }}:</label>
        <div class="flex-item" ng-controller="CustomerPhone">
            <!-- <div class="info">Raw Value: {{phoneVal}}</div>
            <div class="info">Ваш телефон: {{phoneVal | tel}}</div> -->

            <input class="form-control" type='text' phone-input ng-model="phoneVal" value="{{ 'YOUR_PHONE_NUMBER' | translate }}" uib-tooltip="Обов'язкове поле" tooltip-trigger="'focus'" tooltip-placement="right"/>
        </div>
    </div>

    <div>
         <label class="labal">{{ 'CUSTOMER_NAME' | translate }}:</label>
        <div class="flex-item">
           <input class="form-control" type='text'  value="{{ 'CUSTOMER_NAME' | translate }}" uib-tooltip="Не обов'язкове поле" tooltip-trigger="'focus'" tooltip-placement="right"/>
        </div>
    </div>

    <div class="flex-item" style="margin: 5px 0;">
        <label class="lab" style="padding: 5px 15px 0 0;">{{ 'DOSTAVKA' | translate }}</label>
        <div ng-controller="DostavkaController as vm">
                <mydropdown  is-button 
                    ng-model="vm.item" 
                    items="vm.items" 
                    callback="vm.callback(item)">
                </mydropdown>
        
 

        </div>
     </div>

     <div class="flex-item" style="margin: 5px 0;">
        <label class="lab" style="padding: 10px 15px 0 0;">{{ 'DOSTAVKA_DATE' | translate }}</label>
        
        <h4>{{'128832482660' | date:"MM/dd/yyyy 'at' h:mma"}}</h4>
     </div>

    <div class="form-group">
          <label class="lab">{{ 'PRUMITKA' | translate }} :</label>
          <div class="flex-item" >
          <input type="text" ng-model="prumitka" uib-tooltip="Введіть якщо є додаткові питання" tooltip-trigger="focus" tooltip-placement="right" class="form-control" />
          </div>
    </div>
    
</div>


 <div flow-init="config">
        <div style="width: 320px;">
            
            <div style="padding-left: 15px">
                <h2>{{ 'ORDER' | translate }}</h2>
                
                <span class="btn  btn-success" flow-btn ><i class="icon icon-file"></i>{{ 'LOAD_FILE' | translate }}</span>
                <span class="btn  btn-success" flow-btn flow-directory ng-show="$flow.supportDirectory">
                    <i class="icon icon-folder-open"></i>
                   {{ 'LOAD_FOLDER' | translate }}
                </span>
            </div>
        </div>
   <div flow-transfers class="mobile" style="margin: 5px;"> 

   <uib-accordion close-others="oneAtATime">
    
    <div uib-accordion-group class="panel-default" heading="{{file.name}}" ng-repeat="file in transfers" ng-init="innerIndex = $index" index="{{$index}}" >
      
        

      <div class="thumbnail flex-item2" ng-show="$flow.files.length">
          <img flow-img="file" style="max-width: 120px; max-height: 120px;" >
      </div>
<div class="flex-container2">
      <div class="flex-item2" ng-controller="CounterController">
          <div class="input-group spinner" ng-init="innerIndex = $index">
              <input type="text" class="form-control" value={{counter}}>
              <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button" ng-click="increment()"><i  class="fa fa-caret-up"></i></button>
                <button class="btn btn-default" type="button" ng-click="decrement()"><i  class="fa fa-caret-down"></i></button>
              </div>
          </div>
      </div>


      <div class="flex-item2" ng-controller="FormatController as vm" 
      ng-init="vm.innerIndex = $index">
          <mydropdown index="{{$index}}" is-button 
              ng-model="vm.item" 
              items="vm.items" 
              class="w70"
              callback="vm.callback(item, $index)">
          </mydropdown>
      </div>
      <div class="flex-item2" ng-controller="RamkaController as vm" 
      ng-init="vm.innerIndex = $index">
          <mydropdown index="{{$index}}" is-button 
              ng-model="vm.item" 
              items="vm.items" 
              callback="vm.callback(item, $index)">
          </mydropdown>
      </div>
      <div class="flex-item2" ng-controller="PaperTypeController as vm" 
       ng-init="vm.innerIndex = $index">
          <mydropdown index="{{$index}}" is-button 
              ng-model="vm.item" 
              items="vm.items" 
              callback="vm.callback(item, $index)"
              selectParam="vm.selectParam(item)">
          </mydropdown>
      </div>
      
      <div class="btn-group flex-item2">
          <a class="btn btn-sm btn-danger" ng-click="file.cancel()">
              {{ 'CANCEL' | translate }}
          </a>
          <button class="btn btn-primary btn-sm" type="button" ng-click="setDefault(innerIndex)" uib-tooltip="Застосувати налаштування для всіх фотографій" tooltip-trigger='hover' tooltip-placement="right">{{ 'FOR_ALL' | translate }}</button>
      </div>
    </div>
      </div> 
    </uib-accordion>
  </div>

  
        
      
      
       <table  ng-init="innerIndex = $index" class="table table-hover table-bordered table-striped desk" flow-transfers index="{{$index}}" style="min-width: 890px; overflow: auto; margin-top: 5px;">

            <thead>
            <tr>
                <th class="tcenter">#</th>
                <th class="tcenter">{{ 'YOUR_PHOTO' | translate }}</th>
                <th class="tcenter">{{ 'FILE_NAME' | translate }}</th>
                <th class="tcenter" style="width: 40px;">{{ 'PHOTO_QTY' | translate }}</th>
                <th class="tcenter">{{ 'PHOTO_FORMAT' | translate }}</th>
                <th class="tcenter">{{ 'PAPER_TYP' | translate }}</th>
                <th class="tcenter">{{ 'PHOTO_RAMKA' | translate }}</th>
            
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in transfers">
                <td class="tcenter">{{$index+1}}</td>
                <td class="tcenter">
                    <div class="thumbnail" ng-show="$flow.files.length">
                        <img flow-img="file" style="max-width: 120px; max-height: 120px;" >
                    </div>
                </td>
               <td class="tcenter" ng-controller="NameController" ng-init="innerIndex = $index">{{file.name}}</td>
                <td class="tcenter">
                    <div ng-controller="CounterController">
                		<div class="input-group spinner" ng-init="innerIndex = $index">
		                    <input type="text" class="form-control" value={{counter}}>
		                    <div class="input-group-btn-vertical">
		                      <button class="btn btn-default" type="button" ng-click="increment()"><i  class="fa fa-caret-up"></i></button>
		                      <button class="btn btn-default" type="button" ng-click="decrement()"><i  class="fa fa-caret-down"></i></button>
                   		 	</div>
                		</div>
                    </div>
                </td>
                <td class="tcenter"> 
                 <div ng-controller="FormatController as vm" 
                    ng-init="vm.innerIndex = $index">
                        <mydropdown index="{{$index}}" is-button 
                            ng-model="vm.item" 
                            items="vm.items" 
                            class="w70"
                            callback="vm.callback(item, $index)">
                        </mydropdown>
                    </div>
              </td>

              <!-- Папір -->
                <td class="tcenter">
                   <div ng-controller="PaperTypeController as vm" 
                     ng-init="vm.innerIndex = $index">
                        <mydropdown index="{{$index}}" is-button 
                            ng-model="vm.item" 
                            items="vm.items" 
                            callback="vm.callback(item, $index)">
                        </mydropdown>
                    </div>
                </td class="tcenter"> 

            <!-- Рамка -->

                <td class="tcenter">
                     <div ng-controller="RamkaController as vm" 
                    ng-init="vm.innerIndex = $index">
                        <mydropdown index="{{$index}}" is-button 
                            ng-model="vm.item" 
                            items="vm.items" 
                            callback="vm.callback(item, $index)">
                        </mydropdown>
                    </div>
                </td> 
                
                <td class="tcenter" style="max-width: 115px; overflow: hidden;">
                    <!-- <div class="btn-group"> -->
                        <a class="btn btn-sm btn-danger" ng-click="file.cancel(); whenCancel($index)" style="margin: 5px;">
                            {{ 'CANCEL' | translate }}
                        </a>
                        <button class="btn btn-primary btn-sm" type="button" ng-click="setDefault($index)" uib-tooltip="{{ 'SET_ALL_FORDEFAULT' | translate }}" tooltip-trigger='hover' tooltip-placement="right">{{ 'FOR_ALL' | translate }}</button>
                       <!-- </div> -->
                </td>
            </tr>

            </tbody>
              
        </table>
<div>     
<div class="well" style="max-width: 99%; margin-top: 5px;">{{ 'TOTAL_PRICE' | translate }} : {{ TotalPrice }}</div>
  <!-- <pre></pre> -->

  <hr class="soften"/>
      <div class="alert" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''"
           ng-class="class">
         {{ 'DROP_PLACE' | translate }}
      </div>
  <hr class="soften">

   <p>
      <a class="btn btn-small btn-success" ng-click="$flow.resume(); hello()">{{ 'COMPLITE_ORDER' | translate }}</a>
      <a class="btn btn-small btn-info" ng-click="$flow.cancel()">{{ 'CANCEL' | translate }}</a>
     
  </p>
</div> 
</div>

</div>